* {
    margin: 0;
    padding: 0;
}
html,
body {
    height: 100%;
    width: 100%;
    background: #f8f8f8;
}

/* 标题样式 */
.big-title > .title-bar::after {
    clear: both;
    display: block;
    content: "";
  }
  .big-title > .title-bar{
    margin-left: -5.45%;
  }
  .big-title > .title-bar>span {
    font-size: 16px;
    color: #333333;
    font-weight: 600;
    vertical-align: middle;
    margin-left: 1%;
  }
  .big-title > p {
    font-size: 12px;
    color: #333333;
    line-height: 20px;
    margin-top: 10px;
  }
  .big-title > .title-bar > .jiantou{
    width: 2.8%;
  }

  /* 小圈圈+标题+内容 的样式 */
  
  .last-list {
    margin-top: 20px;
    padding-right: 5%;
    width: 100%;
  }
  .last-list>.last-list-title{
    margin-left:-4%;
  }
  .last-list>.last-list-title::after{
    display: block;
    content: '';
    clear: both;
  }
  .last-list>.last-list-title>img {
    width: 1.4%;
    vertical-align: middle;
   
    /* padding-left: 5%; */
  }
  .last-list>.last-list-title>span {
    color: #666666;
    font-size: 14px;
    line-height: 9px;
    margin-top: 20px;
    vertical-align: middle;
    margin-left: 1%;
  }
  .last-list>p {
    margin-top: 10px;
    line-height: 20px;
    font-size: 12px;
    color: #666666;
    /* padding:0 5%; */
  }